<%- include('header') %>

<p>
    Seja bem vindo admin!
</p>

<p>
    <a href="/admin/categorias">Voltar</a>
</p>

<div>
    <form method='post' action="/admin/categorias/nova">
        <p>
            <label for="titulo">Titulo</label>
            <input type="text" id='titulo' name='titulo' value="<%- cat.titulo %>">
        </p>
        <p>
            <input type="hidden" id='id' name='id' value="<%- cat.id %>">
            <button>Salvar</button>
        </p>
    </form>
</div>

<%- include('footer') %>