<%- include('header') %>

<p>
    Seja bem vindo admin!
</p>

<p>
    <a href="/admin">Voltar</a>
</p>

<p>
    <a href="/admin/categorias/nova">Nova categoria</a>
</p>

<ul>
    <% categorias.forEach(c => { %>
    <li>
        <%- c.titulo %> | <a href="/admin/categorias/editar/<%- c.id %>">Editar</a> | <a href="/admin/categorias/delete/<%- c.id %>">Excluir</a>
    </li>
    <% }) %>
</ul>


<%- include('footer') %>