<%- include('header') %>

<p>
    Seja bem vindo admin!
</p>

<ul>
    <li> <a href='/admin/categorias'>Gerenciar Categorias</a></li>
    <li> <a href='/admin/vagas'>Gerenciar Vagas</a> </li>
</ul>


<%- include('footer') %>