<%- include('header') %>

<p>
    Seja bem vindo admin!
</p>

<p>
    <a href="/admin/vagas">Voltar</a>
</p>

<div>
    <form method='post' action="/admin/vagas/nova">
        <p>
            <label for="titulo">Titulo</label>
            <input type="text" id='titulo' name='titulo' value="<%- cat.titulo %>">
        </p>
        <p>
            <label for="descricao">Descrição</label>
            <textarea rows=5 id='descricao' name='descricao'><%- cat.descricao %></textarea>
        </p>
        <p>
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria">
                <% categorias.forEach(c => { %>
                <option value="<%- c.id %>" <%= (cat.categoria == c.id)? 'selected' : '' %>><%- c.titulo %></option>
                <% }) %>
            </select>
        </p>
        <p>
            <input type="hidden" id='id' name='id' value="<%- cat.id %>">
            <button>Salvar</button>
        </p>
    </form>
</div>

<%- include('footer') %>