<%- include('header') %>

<p>
    Seja bem vindo admin!
</p>

<p>
    <a href="/admin">Voltar</a>
</p>

<p>
    <a href="/admin/vagas/nova">Nova vaga</a>
</p>

<ul>
    <% vagas.forEach(v => { %>
    <li>
        <b><%- v.categoria %></b> - <%- v.titulo %> | <a href="/admin/vagas/editar/<%- v.id %>">Editar</a> | <a href="/admin/vagas/delete/<%- v.id %>">Excluir</a>
    </li>
    <% }) %>
</ul>


<%- include('footer') %>