<html>

<head>
    <title>Jobify</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/estilos.css" rel="stylesheet">
</head>

<body>

    <p>
        <a href="/home">
            <img src="/images/logo.png" alt="" width="100">
        </a>
    </p>

    <p>We are Jobify</p>