<%- include('header') %>

<p>
    Seja bem vindo <a href="/admin"><b><%- usuario %></b></a>.
</p>

<h2>Ope roles:</h2>

<% colCategorias.forEach(cat => { %>
<div>
    <h3><%- cat.titulo %></h3>

    <ul>
        <% cat.vagas.forEach(v => { %>
        <li><a href="vaga/<%- v.id %>"><%- v.titulo %></a></li>
        <% }) %>
    </ul>
</div>
<% }) %>

<%- include('footer') %>