body {
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    padding-left: 16px;
}

li {
    margin:0;
}

h1, p {
    text-align: center
}

h3 {
    font-size: 24px;
}

h2 {
    padding: 10px;
    background-color: #D5D5D5;
}